Django==5.2.5
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.7.0
django-cloudinary-storage==0.3.0
cloudinary==1.44.1
whitenoise==6.9.0
dj-database-url==2.3.0
python-dotenv==1.1.1
psycopg2-binary==2.9.10
gotrue==2.12.4
groq==0.37.1
anthropic==0.45.2
openai==1.61.0
google-generativeai==0.8.4
reportlab==4.5.1
weasyprint==66.0
celery==5.6.2
redis==6.4.0
pillow==11.3.0
requests==2.32.5
gunicorn==23.0.0
django-phonenumber-field==8.1.0
phonenumbers==9.0.13
pydyf==0.11.0
sentry-sdk==2.19.0
psutil==7.2.1
colorama==0.4.6
PyYAML==6.0.2
